@font-face {
    font-family: 'Rubik';
    src: url('Rubik-SemiBold.ttf');
}

body{
    /* background-color: DarkCyan; */
    /* opacity: 0.5; */
    /* background-color: rgb(136, 36, 6); */
    background-color: hsla(157, 57%, 56% , 0.5);
    text-align: center;
}
h1{
    /* color: rgb(136, 165, 174 );
    color: #A1AB8F; */
    /* background-color: #a383d4 */
    font-size: 2.5em;
    font-family: 'Rubik';
}
p{
    /* text-transform: capitalize; */
    /* text-decoration: line-through; */
    /* line-height: 2.4em; */
    /* word-spacing: 1em; */
    /* letter-spacing: 0.2em; */
    
}