/* h1 , p{
    background-color: blue;
    color: brown;
} */

body{
    background-color: aqua;
}
.abc{
    color: yellow;
}
#para{
    background-color: black;
    color: pink;
}
/* li>a{
    color: white;
    background-color: black;
} */

ul a{
    color: white;
    background-color: black;
}