/* .container{
    border: 3px double black;
    max-width: 600px;
    min-width: 300px;
}
.container1{
    border-width: 13px 3px 3px 2px; 
    border-style: dotted;
    border-top-color:blue;
    max-width: 600px;
    min-width: 300px;
} */


/* p{
    width: 275px;
    border: 4px solid #0088dd;
}
    
    
p.example {
    margin:10px auto 10px auto;
    padding-left: ;
} */

li {
    display: inline; 
    margin-right: 10px;
}